<div class="container">

  <h3>Inactive Users</h3>

  <ul class="list-group">
    <div *ngFor="let user of users; let id = index">
      <li class="list-group-item" *ngIf="user.active==true">
        {{ user.name }} |
        <a href="#" (click)="change(id)">Set to Active</a>
      </li>
    </div>
  </ul>

  <h3>Active Users</h3>

  <ul class="list-group">
    <div *ngFor="let user of users; let id = index">
      <li class="list-group-item" *ngIf="user.active==false">
        {{ user.name }} |
        <a href="#" (click)="change(id)">Set to Inactive</a>
      </li>
    </div>   
  </ul>

</div>
