<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="submit(form)" #form="ngForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" class="form-control" ngModel name="email" required email #email="ngModel">
          </div> 
          <span id="invalidMessage" class="help-block" *ngIf="!email.valid && email.touched">Invalid Email</span>
          <div class="form-group">
            <label for="email">Password</label>
            <input type="password" id="password" class="form-control" ngModel name="password" required password #password="ngModel">
          </div> 
          <span id="invalidMessage" class="help-block" *ngIf="password.invalid && password.touched">Invalid Password</span>
          <div class="form-group">
            <label for="type">Type</label>
            <select id="type" class="form-control" [ngModel]="default" name="type">
              <option value="basic">Basic</option>
              <option value="advanced">Advanced</option>
              <option value="pro">Pro</option>
            </select>
          </div>
        <button [disabled]="!form.valid" class="btn btn-primary" type="submit" (click)="submit()">Submit</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Data</h3>
      <p>Email: {{user.email}}</p>
      <p>Type: {{user.type}}</p>
    </div>
  </div>
</div>
